.containerNoties {
	border: 2px solid red;
	max-width: 100%;
	min-height: 500px;
}

.error {
	display: flex;
	position: absolute;
	max-width: 995px;
	width: 100%;
	justify-content: center;
}
.errorPage {
	display: flex;
	position: absolute;
	max-width: 995px;
	width: 100%;
	justify-content: center;
}
