.container__search {
	max-width: 300px;
	width: 100%;
	margin: 50px auto;
	display: flex;
}

.container__search__input {
	outline: none;
	border-radius: 10px;
	border: none;
	max-width: 300px;
	width: 100%;
	padding: 10px;
	&::placeholder {
		font-weight: 700;
		font-family: "Edu NSW ACT Foundation", cursive;
	}
}
@media (max-width: 768px) {
	.container__search__input{
	
		&::placeholder{
			font-size: 10px;
		}
	}
}

@media (max-width: 560px) {
	.container__search__input{
		max-width: 60%;
		margin:0 auto;
		&::placeholder{
			font-size: 8px;
		}
	}
}